.bash_history
.bash_logout
.bash_profile
.cache/
.cargo/
.fehbg
.gitconfig
.local/
.mozilla/
.profile
.rustup/
.shell.pre*
.vscode-oss/
.zcomp*
.zsh_history
.zshrc.pre-oh*
ColorProfile.icc
LICENSE.md
Wallpapers/
dotfiles/
readme.md
texto.txt
.Xauthority
.config/Code*
.config/Electron/
.config/pulse/
